
.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  }
  
.ball-container {
  background: url('ball.jpg') no-repeat center center ;
  background-size: contain;
  height: 300px;
  width: 100%;
  /* border: 1px solid red; */
  margin: 0 auto;
  
}

.form-group{
  display: flex;
  flex-direction: row;
  width: 100%;
  /* border: 1px solid red; */
  justify-content: center;
}
textarea {
  width: 100%;
  resize: none;
  height: 50px;
  outline: none;
  font-family: 'Courier New', Courier, monospace;
  color: red;
}  

.label-ta-container{
  display: flex;
  flex-direction: column;
  width: 30%;
  /* border: 1px solid red; */
  justify-content: flex-start;
}
.ta-label{
  display: block;
  /* border: 1px solid red; */
  width: 50%;
  text-align: left;
  text-decoration: underline;
}

.result {
  /* border: 1px solid red; */
}

.btn {
  width: 20%;
  /* margin-top: 20px; */
}

.result1{
text-align: center;
font-family: 'Courier New', Courier, monospace;
font-size: 500%;
position: relative;
top: 50%;
transform: translateY(-50%);
color: white;
}